html{
	scroll-behavior: smooth; /*Suavização de rolagem*/
}

body{
text-shadow: 2px 2px 7px orange;
	background-color: black;
color: white;
}

h2{text-align: center;
	color: white;
text-shadow: 2px 2px 7px blue;
}

h1{text-align: center;
}


    .astro{

    width: 300px; height: 300px;
    border-radius: 50%;
    border: 5px white solid;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 15px orange;
}

.btn{
	border-radius: 5px;
	
	text-decoration: none; /*Retira o sublinhado*/

	text-align: center; /*Centraliza o texto*/

	color: black; /*Cor do texto*/

	background-color: lightgray; /*Cor de fundo*/

	width: 80px; /*Largura*/

	display: block; /*Kit centralizador*/

	margin: 0 auto; /*Kit centralizador*/

	padding: 5px; /*Preenchimento*/
 
 	font-size: 15px; /*Tamanho da fonte*/
}
.btn:hover{
	box-shadow: 0 0 5px yellow;
}
a{  text-decoration: none;
	color: white;
}

/*Estilização do menu superior*/

ul{
	position: sticky;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}
li{
	float: left;
}

li a{
display: block;
color: blue;
font-size: 21px;
background-color: black;
padding: 14px 40px;
text-align: center;
text-decoration: none;

}
li a:hover{
	background-color: #2f4f4f;
}